html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
    background-color: #000;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    display: block;
}
